{% extends "base.html" %}

{% block content %}
    <div class="home">
    <p>当前位置：首页><span class="symbol">></span>工程信息</p>
    <p></p>
    </div>

     <div class="filter">
        <div class="container">
            <div class="box">
            <div class="title-h">按条件筛选</div>
            <dl>
                <dt>数据来源</dt>
                <dd>
                    <a href="#" rel="" name="from" class="all on">全部</a>
                    <a href="#" rel="江西建设工程招标投标网" name="from" class="sx_child">江西建设工程招标投标网</a>
                    <a href="#" rel="中国政府招标网" name="from" class="sx_child">中国政府招标网</a>
                    <a href="#" rel="中国国际招标网" name="from" class="sx_child">中国国际招标网</a>
                </dd>
            </dl>
            <dl>
                <dt>所属区域</dt>
                <dd>
                    <a href="#"  rel="" name="area" class="all on">全部</a>
                    <a href="#"  rel="北京" name="area" class="sx_child">北京</a>
                    <a href="#"  rel="江西" name="area" class="sx_child">江西</a>
                    <a href="#"  rel="上海" name="area" class="sx_child">上海</a>
                    <a href="#"  rel="山东" name="area" class="sx_child">山东</a>
                    <a href="#"  rel="江苏" name="area" class="sx_child">江苏</a>
                    <a href="#"  rel="浙江" name="area" class="sx_child">浙江</a>
                    <a href="#"  rel="安徽" name="area" class="sx_child">安徽</a>
                    <a href="#"  rel="福建" name="area" class="sx_child">福建</a>
                    <a href="#"  rel="广东" name="area" class="sx_child">广东</a>

                    <a href="#"  rel="广西" name="area" class="sx_child">广西</a>
                    <a href="#"  rel="海南" name="area" class="sx_child">海南</a>
                    <a href="#"  rel="湖南" name="area" class="sx_child">湖南</a>
                    <a href="#"  rel="湖北" name="area" class="sx_child">湖北</a>
                    <a href="#"  rel="天津" name="area" class="sx_child">天津</a>
                    <a href="#"  rel="河北" name="area" class="sx_child">河北</a>
                    <a href="#"  rel="山西" name="area" class="sx_child">山西</a>
                    <a href="#"  rel="内蒙古" name="area" class="sx_child">内蒙古</a>
                    <a href="#"  rel="宁夏" name="area" class="sx_child">宁夏</a>
                    <a href="#"  rel="青海" name="area" class="sx_child">青海</a>
                    <a href="#"  rel="陕西" name="area" class="sx_child">陕西</a>

                    <a href="#"  rel="甘肃" name="area" class="sx_child">甘肃</a>
                    <a href="#"  rel="新疆" name="area" class="sx_child">新疆</a>
                    <a href="#"  rel="四川" name="area" class="sx_child">四川</a>
                    <a href="#"  rel="贵州" name="area" class="sx_child">贵州</a>
                    <a href="#"  rel="云南" name="area" class="sx_child">云南</a>
                    <a href="#"  rel="重庆" name="area" class="sx_child">重庆</a>
                    <a href="#"  rel="西藏" name="area" class="sx_child">西藏</a>
                    <a href="#"  rel="辽宁" name="area" class="sx_child">辽宁</a>
                    <a href="#"  rel="吉林" name="area" class="sx_child">吉林</a>
                    <a href="#"  rel="黑龙江" name="area" class="sx_child">黑龙江</a>
                </dd>
            </dl>
            <dl>
                <dt>发布时间</dt>
                <dd>
                    <a href="#" rel="" name="date" class="all on">全部</a>
                    <a href="#" rel="天" name="date" class="sx_child">最近一天</a>
                    <a href="#" rel="周" name="date" class="sx_child">最近一周</a>
                    <a href="#" rel="月" name="date" class="sx_child">最近一月</a>
                    <a href="#" rel="年" name="date" class="sx_child">最近一年</a>
                </dd>
            </dl>
            </div>
        </div>
    </div>

    <!--列表内容 -->
    <div class="list">
      <div class="white">
                    <form action="../list" method="get">
                    <ul>
                    <li>
                    <label for="key">排序方式</label>
                        <div class="as_select">
                            <select>
                                <option value="volvo">默认</option>
                            <option value="volvo">爬取时间</option>
                            <option value="saab">注册时间</option>
                            <option value="opel">注册资本</option>
                            </select>
                        </div>
                    </li>
                    <li>
                    <span class="right">
                    <label for="key">关键词</label>
                    <input type="text" name="q" value="{{ key_words }}" required/>
                    <input type="submit" value="搜索" class="btn"/>
                        </span>
                    </li>
                    </ul>
                        </form>
    </div>
    <ul class="as-pager-body">
          {% for project in projects_list%}
        <li>
            <a class="as-pager-item" href="{{ project.url }}" target="_blank">
            <h5 class="as-p-tit">
                <span class="txt">
                    {% autoescape off %}{{ project.title }}{% endautoescape %}
                </span>
                <span class="time">发布时间：{{ project.date}}</span>
            </h5>
                <div class="as-p-ft">
                          <dl class="horizontal">
                <dt class="none">信息属性</dt>
                <dd><span>
                    {% autoescape off %}{{ project.content }}{% endautoescape %}
                </span>
                </dd>
            </dl>
            <dl class="horizontal">
                <dt class="none">信息属性</dt>
                <dd><span class="tag-attr">所属行业：<strong>{{ project.tags }}</strong></span>
                    <span class="tag-attr">所属地区：<strong>{{ project.location }}</strong></span>
                    <span class="tag-attr">内容来源：<strong>{{ project.from_website }}</strong></span>
                </dd>
            </dl>
                </div>
            </a>
        </li>
     {% endfor %}
    </ul>
    <div class="fenye fr">
        <!-- 分页 -->
            <div class="pagination ue-clear"></div>
        </div>
        <div class="clear"></div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var list_url = "{% url 'list' %}"
	//分页
    var jq = $.noConflict()
    jq(function(){
        new SelectTag({
            child : ".sx_child", //所有筛选范围内的子类
            over : 'on', //选中状态样式名称
            all : ".all"
        })}
        );
	$(".pagination").pagination({{ total_nums }}, {
		current_page :{{ page|add:'-1'}}, //当前页码
		items_per_page :{{ page_items_num }},
		display_msg :false,
		callback :pageselectCallback

	})
	function pageselectCallback(page_id, jq) {
		window.location.href=list_url+'?p='+(page_id+1)
	}
    </script>
{% endblock %}